artifacts/models/*.pt
artifacts/models/*.pth
artifacts/models/*.bin

__pycache__/
*.py[cod]
*$py.class
*.so

./__pycache__/

.pytest_cache/
.coverage
htmlcov/


venv/
env/
ENV/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db


*.log

*Shuffled_Human(partially)*